<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1" />
    <title>龙泉寺皈依自主表单填写</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bootstrap/js/bootstrap.min.js" rel="script">
    <link href="/static/jquery/jquery-2.1.4.js" rel="script">
</head>

<body>

<div style="padding: 20px 20px 10px;" class="page-header">
    <h1>皈依信息填写表单</h1>
</div>

<div style="padding: 20px 20px 20px;">
    <form action="/zened/" method="get" role="form">
        <h2>基本信息</h2>
        <div class="input-group">
            <span class="input-group-addon">* 姓名</span>
            <input type="text" name="name" class="form-control" placeholder="如: 张三">
        </div><br>

        <div class="input-group">
            <span class="input-group-addon">* 法名</span>
            <input type="text" name="fname" class="form-control" placeholder="如: 张三">
        </div><br>

        * 性别：
        <input type="radio" name="gender" value="男" checked/>
        男 &nbsp;
        <input type="radio" name="gender" value="女"/>
        女
        <br><br>

        <div class="input-group">
            <span class="input-group-addon">*民族</span>
            <input type="text" name="race" class="form-control" value="汉族">
        </div><br>

        <div class="input-group">
        <span class="input-group-addon">学历/文化程度</span>
            <input type="text" name="degree" class="form-control" placeholder="如：大学本科、大学专科">
        </div><br><br>

        <h2>皈依信息</h2>
        <div class="input-group">
            <span class="input-group-addon">皈依法会名</span>
            <input type="text" name="fahui_name" class="form-control"> 
        </div><br>

        <div class="input-group">
            <span class="input-group-addon">皈依证号</span>
            <input type="year" name="guiyi_code" class="form-control">
            <span class="input-group-addon">收据编号</span>
            <input type="text" name="receipt" class="form-control">
        </div><br><br>

        <div class="input-group">
            <span class="input-group-addon">*身份证号码</span>
            <input type="text" name="personnel_id" class="form-control">
        </div><br>

        <h2>其他</h2>
        <div class="input-group">
            <span class="input-group-addon">职业</span>
            <input type="text" name="job" class="form-control" placeholder="如：工程师">
        </div><br>
        <div class="input-group">
            <span class="input-group-addon">特长</span>
            <input type="text" name="hobby" class="form-control" placeholder="如：国画">
        </div><br><br>

        <div class="input-group">
            <span class="input-group-addon">*出生年月</span>
            <input type="text" name="birthday" class="form-control" placeholder="如: 1987/01/01">
        </div><br>

        <div class="input-group">
            <span class="input-group-addon">* 手机</span>
            <input type="text" name="phone" class="form-control" placeholder="">
        </div><br>

        <div class="input-group">
            <span class="input-group-addon">固话</span>
            <input type="text" name="telephone" class="form-control" placeholder="如：区号-电话号">
        </div><br>

        <h2>工作信息</h2>
        <div class="input-group">
            <span class="input-group-addon">工作单位</span>
            <input type="text" name="workplace" class="form-control" placeholder="如：某公司.">
        </div><br>

        <h2>现居地址</h2>
        <div class="input-group">
            <span class="input-group-addon">(省)</span>
            <input type="text" name="province" class="form-control" placeholder="如：北京市" value="北京市">
        </div><br>
        <div class="input-group">
            <span class="input-group-addon">(市)</span>
            <input type="text" name="city" class="form-control" placeholder="如：北京市" value="北京市">
        </div><br>
        <div class="input-group">
            <span class="input-group-addon">(区/县)</span>
            <input type="text" name="district" class="form-control" placeholder="如：海淀区">
        </div><br>
        <div class="input-group">
            <span class="input-group-addon">(乡镇/小区/街道)</span>
            <input type="text" name="address" class="form-control" placeholder="如：凤凰岭">
        </div><br>

        <h2>毕业学校</h2>
        <div class="input-group">
            <span class="input-group-addon">学校</span>
            <input type="text" name="graduate_school" class="form-control" placeholder="如：北京大学">
        </div><br>

        <center>
            <div class="alert alert-danger">请您检查无误后提交，感恩</div>
        </center>
        <br><br>
        <button type="submit" class="btn btn-primary btn-lg btn-block">提交</button>


    </form>
</div>
</body>
</html>
